{% extends "base.html" %}

{% block title %}Descending Key Index Test{% endblock %}

{% block content %}
<h1>Descending Key Index Test</h1>

<p>
The following two queries should return the same results.
{% if comparison.message %}But {{ comparison.message }}.
{% else %}This range seems to be okay.{% endif %}<br />
<a href="{{ comparison.path }}?start={{ start_name }}">Reload this
page</a> or try
<a href="{{ comparison.path }}?start={{ next_random_name }}">another
random example</a>.
</p>

<p>
{{ comparison.gql1 }}<br />
{% for name in comparison.colored1 %}{{ name|safe }} {% endfor %}
</p>

<p>
{{ comparison.gql2 }}<br />
{% for name in comparison.colored2 %}{{ name|safe }} {% endfor %}
</p>
{% endblock %}
