{% extends "base.html" %}

{% block title %}Self-Test Logs{% endblock %}

{% block content %}
<h1>Self-Test Logs</h1>

<table>
<tr>
<th></th>
<th>Tests</th>
<th>Tests</th>
<th>Datastore</th>
<th>Test</th>
<th colspan="2">Missing items</th>
<th colspan="2">Query 1 seconds</th>
<th colspan="2">Query 2 seconds</th>
<th></th>
</tr>
<tr>
<th>Path</th>
<th>logged</th>
<th>per hour</th>
<th>errors</th>
<th>failures</th>
<th>max</th>
<th>median</th>
<th>max</th>
<th>median</th>
<th>max</th>
<th>median</th>
<th>Last error message</th>
</tr>
{% for stat in statistics_list %}
<tr class="{% cycle 'row1' 'row2' %}">
<td><a href="/tests{{ stat.path }}">{{ stat.path }}</a></td>
<td>{{ stat.total }}</td>
<td>{{ stat.per_hour }}</td>
<td>{{ stat.error_percent|floatformat:1 }}%</td>
<td>{{ stat.failure_percent|floatformat:1 }}%</td>
<td>{{ stat.missing_max }}</td>
<td>{{ stat.missing_median }}</td>
<td>{{ stat.seconds1_max|floatformat:3 }}</td>
<td>{{ stat.seconds1_median|floatformat:3 }}</td>
<td>{{ stat.seconds2_max|floatformat:3 }}</td>
<td>{{ stat.seconds2_median|floatformat:3 }}</td>
<td>{{ stat.message }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
