{% extends "base.html" %}

{% block title %}Self-Test Logs{% endblock %}

{% block content %}
<h1>Self-Test Logs</h1>

<table>
<tr>
<th></th>
<th>Tests in</th>
<th>Datastore</th>
<th>Test</th>
<th colspan="3" style="text-align:center">Missing items</th>
<th colspan="3" style="text-align:center">First query time</th>
<th colspan="3" style="text-align:center">Second query time</th>
<th></th>
</tr>
<tr>
<th>Test path</th>
<th>24 hours</th>
<th>errors</th>
<th>failures</th>
<th>min</th>
<th>median</th>
<th>max</th>
<th>min</th>
<th>median</th>
<th>max</th>
<th>min</th>
<th>median</th>
<th>max</th>
<th>Last error message</th>
</tr>
{% for stat in statistics_list %}
<tr class="{% cycle 'row1' 'row2' %}">
<td><a href="/tests{{ stat.path }}">{{ stat.path }}</a></td>
<td>{{ stat.total }}</td>
<td>{{ stat.error_percent|floatformat:1 }}%</td>
<td>{{ stat.failure_percent|floatformat:1 }}%</td>
<td>{{ stat.missing_min }}</td>
<td>{{ stat.missing_median }}</td>
<td>{{ stat.missing_max }}</td>
<td>{{ stat.seconds1_min|floatformat:3 }} s</td>
<td>{{ stat.seconds1_median|floatformat:3 }} s</td>
<td>{{ stat.seconds1_max|floatformat:3 }} s</td>
<td>{{ stat.seconds2_min|floatformat:3 }} s</td>
<td>{{ stat.seconds2_median|floatformat:3 }} s</td>
<td>{{ stat.seconds2_max|floatformat:3 }} s</td>
<td>{{ stat.message|capfirst }}.</td>
</tr>
{% endfor %}
</table>
{% endblock %}
