{% extends "base.html" %}

{% block title %}Updated prefixes{% endblock %}

{% block content %}
{% if prefix_rows %}
<h1>Updated prefixes</h1>
<table>
{% for row in prefix_rows %}
<tr class="{% cycle 'row1' 'row2' %}">
{% for prefix in row %}
<td class="right{% firstof prefix.class_extra %}">{{ prefix.count }}x</td>
<td class="left{% firstof prefix.class_extra %}">{{ prefix.key.name }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endif %}

{% if suffix_rows %}
<h1>Updated suffixes</h1>
<table>
{% for row in suffix_rows %}
<tr class="{% cycle 'row1' 'row2' %}">
{% for suffix in row %}
<td class="right{% firstof suffix.class_extra %}">{{ suffix.count }}x</td>
<td class="left{% firstof suffix.class_extra %}">{{ suffix.key.name }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
