{% extends "base.html" %}

{% block title %}Updated prefixes{% endblock %}

{% block content %}
<h1>Updated prefixes for {{ chars }}</h1>
{% if prefixes %}
<h2>Prefixes</h2>
<table>
{% for prefix in prefixes %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{ prefix.length }}</td>
<td>{{ prefix.key.name }}</td>
<td>{{ prefix.count }}</td>
<td>{{ prefix.com }}</td>
<td>{{ prefix.resume }}</td>
<td>{{ prefix.timestamp|timesince }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if suffixes %}
<h2>Suffixes</h2>
<table>
{% for suffix in suffixes %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{ suffix.length }}</td>
<td>{{ suffix.key.name }}</td>
<td>{{ suffix.count }}</td>
<td>{{ suffix.com }}</td>
<td>{{ prefix.resume }}</td>
<td>{{ suffix.timestamp|timesince }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

<p>{% for name in names %}{{ name }} {% endfor %}</p>
{% endblock %}
