{% extends "base.html" %}

{% block title %}Updated {{ chars }}{% endblock %}

{% block content %}
<h1>Updated
{% if prefixes %}{{ prefixes|length }} prefixes starting with{% endif %}
{% if suffixes %}{{ suffixes|length }} suffixes ending with{% endif %}
{{ chars }}
</h1>

{% if prefixes %}
<table>
{% if previous %}
<tr class="row2">
<td>{{ previous.length }}</td>
<td>{{ previous.key.name }}</td>
<td>{{ previous.count }}</td>
<td>{{ previous.com }}</td>
<td>{{ previous.percentage|floatformat:1 }}%</td>
<td>{{ previous.resume }}</td>
<td>{{ previous.timestamp|timesince }} ago</td>
</tr>
{% endif %}
{% for prefix in prefixes %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{ prefix.length }}</td>
<td>{{ prefix.key.name }}</td>
<td>{{ prefix.count }}</td>
<td>{{ prefix.com }}</td>
<td>{{ prefix.percentage|floatformat:1 }}%</td>
<td>{{ prefix.resume }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if suffixes %}
<table>
{% if previous %}
<tr class="row2">
<td>{{ previous.length }}</td>
<td>{{ previous.key.name }}</td>
<td>{{ previous.count }}</td>
<td>{{ previous.com }}</td>
<td>{{ previous.percentage|floatformat:1 }}%</td>
<td>{{ previous.resume }}</td>
<td>{{ previous.timestamp|timesince }} ago</td>
</tr>
{% endif %}
{% for suffix in suffixes %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{ suffix.length }}</td>
<td>{{ suffix.key.name }}</td>
<td>{{ suffix.count }}</td>
<td>{{ suffix.com }}</td>
<td>{{ suffix.percentage|floatformat:1 }}%</td>
<td>{{ suffix.resume }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
