{% extends "base.html" %}

{% block title %}Prefixes{% endblock %}

{% block content %}
<h1>Prefixes</h1>

<form action="" method="post">
<p>
{{ prefix_form.prefixes }}
<input type="submit" name="count_names" value="Count domain names" />
</p>
</form>

<p>
2-letter prefixes counted: {{ prefix_count }} of {{ squared }}<br />
Total domains counted: {{ domain_count }}<br />
Estimated domains in datastore: {{ domain_estimate }}<br />
</p>

<table>
<thead>
<tr>
<td></td><td></td>
{% for letter in letters %}<th>.{{ letter }}...</th>
{% endfor %}
</tr>
</thead>
<tbody>
<tr><td></td><th class="sum">Sum</th>
{% for count in sum_row %}<td class="sum">{{ count }}</td>{% endfor %}
</tr>
{% for letter, counts, sum in table_rows %}
<tr class="{% cycle 'row1' 'row2' %}">
<th>{{ letter }}...</th><td class="sum">{{ sum }}</td>
{% for count in counts %}<td>{% ifnotequal count None %}{{ count }}{% endifnotequal %}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
