{% extends "base.html" %}

{% block extra-head %}
{% if refresh_seconds %}
<meta http-equiv="refresh" content="{{ refresh_seconds }}" />
{% endif %}
{% endblock %}

{% block title %}DNS Lookups{% endblock %}

{% block content %}
<h1>DNS Lookups</h1>

<p>
Selector: {{ selector.description }}<br />
Found {{ domains_all|length }} domain names:
{{ domains_all|first }} to {{ domains_all|last }}<br />
Found {{ lookups_all|length }} DNS lookups:
{{ lookups_all|first }} to {{ lookups_all|last }}<br />
Truncated {{ domain_names|length }} domain names:
{{ domain_names|first }} to {{ domain_names|last }}<br />
Truncated {{ lookup_names|length }} DNS lookups:
{{ lookup_names|first }} to {{ lookup_names|last }}
</p>

{% if missing %}<p>
Created {{ missing|length }} missing DNS lookups:<br />
{% for lookup in missing %}{{ lookup.key.name}} {% endfor %}
</p>{% endif %}

{% if obsolete %}<p>
Deleted {{ obsolete|length }} obsolete DNS lookups:<br />
{% for key in obsolete %}{{ key.name}} {% endfor %}
</p>{% endif%}
{% endblock %}
