{% extends "base.html" %}

{% block title %}DNS Lookups{% endblock %}

{% block content %}
<h1>DNS Lookups</h1>

<p>
Selector: {{ selector.description }}{% if attempts %}
(following {% for attempt in attempts %} {{ attempt }}{% endfor %})
{% endif %}<br />
Found {{ domains_all|length }} domain names:
{{ domains_all|first }} to {{ domains_all|last }}<br />
Found {{ lookups_all|length }} DNS lookups:
{{ lookups_all|first }} to {{ lookups_all|last }}<br />
Truncated {{ domain_names|length }} domain names:
{{ domain_names|first }} to {{ domain_names|last }}<br />
Truncated {{ lookup_names|length }} DNS lookups:
{{ lookup_names|first }} to {{ lookup_names|last }}
</p>

{% if missing %}<p>
Created {{ missing|length }} missing DNS lookups:
{% if not_really %}(not really){% endif %}<br />
{% for lookup in missing %}{{ lookup.key.name}} {% endfor %}
</p>{% endif %}

{% if obsolete %}<p>
Deleted {{ obsolete|length }} obsolete DNS lookups:
{% if not_really %}(not really){% endif %}<br />
{% for key in obsolete %}{{ key.name}} {% endfor %}
</p>{% endif%}
{% endblock %}
