{% extends "base.html" %}

{% block title %}Descending Key Index{% endblock %}

{% block content %}
<h1>Descending Key Index</h1>

<p>
The following two queries should return the same results.
But {{ percent_missing }}% of results are missing from the
descending __key__ index. Reload this page for another random example.
</p>

<p>
Lookup.all(keys_only=True).order('__key__').filter('__key__ >=',
db.Key.from_path('dns_lookup', '{{ start_name }}')).fetch(100)<br />
{% for color, name in ascending %}
<span style="color:{{ color }}">{{ name }}</span>
{% endfor %}
</p>

<p>
Lookup.all(keys_only=True).order('-__key__').filter('__key__ <=',
db.Key.from_path('dns_lookup', '{{ names_ascending|last }}')).fetch(100)<br />
{% for color, name in descending %}
<span style="color:{{ color }}">{{ name }}</span>
{% endfor %}
</p>
{% endblock %}
