ul.errorlist {
  padding: .8em;
  margin-left: 0;
  margin-bottom: 1em;
  border: 2px solid #ddd;
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4;
  list-style-type: none;
}

tr.row2 {
  background-color: #EEE;
}

.red { color: #800; }
.green { color: #080; }
