:root { overflow-y: scroll; }

img#loading {
  position: absolute;
  margin: 28px 0 0 214px;
}

div#timer {
  position: absolute;
  text-align: right;
  visibility: hidden;
}

col.name { width: 130px; }
col.int { width: 40px; }
col.double { width: 40px; }
col.dns { width: 40px; }

table.wide { width: 100%; }
tr.row2 { background: #eee; }
tr.hover { background: #ff8; }

tr.row1 td.taken { background: #fcc; }
tr.row2 td.taken { background: #fbb; }
tr.hover td.taken { background: #faa; }
td.taken a { color: #800; }

tr.row1 td.parking { background: #ccf; }
tr.row2 td.parking { background: #bbf; }
tr.hover td.parking { background: #aaf; }
td.parking a { color: #008; }

tr.row1 td.status { background: #ccc; }
tr.row2 td.status { background: #bbb; }
tr.hover td.status { background: #aaa; }

table.weights { margin-top: -1em; }
table.weights th,
table.weights td {
  padding-left: 0;
  padding-right: 0;
}
table.weights td { text-align: right; }
td.vertical { vertical-align: bottom; }
span.vertical {
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

tr.row1 td.best { background: #ff8; }
tr.row2 td.best { background: #ee8; }

.right { text-align: right; }
.bottom { vertical-align: bottom; }
input.keyword { width: 99px; }
input.score { width: 22px; }

.sum { background: #def; }
.white { color: white; }

.image16x16 { vertical-align: top; }

div#footer { text-align: center; }
