:root { overflow-y: scroll; }

p { padding: 0 4px; }

col.name { width: 140px; }
col.int { width: 40px; }
col.double { width: 40px; }
col.dns { width: 40px; }

tr.row2 { background: #eee; }
tr.hover { background: #ff8; }

tr.row1 td.red { color: #800; background: #fdd; }
tr.row2 td.red { color: #800; background: #edd; }
tr.hover td.red { color: #800; background: #faa; }
tr.row1 td.green { color: #080; background: #dfd; }
tr.row2 td.green { color: #080; background: #ded; }
tr.hover td.green { color: #080; background: #afa; }

tr.row1 td.best { background: #ff8; }
tr.row2 td.best { background: #ee8; }

.right { text-align: right; }
input.keyword { width: 40px; }
input.score { width: 22px; }

.sum { background: #def; }
