{% extends "base.html" %}

{% block title %}Search and sort available domain names{% endblock %}

{% block left %}
<form method="get" action="">
<p>
{{ search_form.left }}
{{ search_form.right }}
<img id="loading" src="/static/images/loading.gif" alt="" />
<span id="timer" class="quiet small">0</span>
</p>

<p>
Choose your registrar:
{{ registrar_form.registrar }}
</p>
</form>
{% endblock%}

{% block content %}
<form action="" method="get">
<table class="ruler">
<tbody id="results">
<tr><td colspan="16">
Loading...
</td></tr>
</tbody>
</table>
</form>
{% endblock %}
