{% extends "base.html" %}

{% block title %}Short domain name search{% endblock %}

{% block extra-head %}
<script type="text/javascript">
  $(document).ready(function() {
    $("html").css("overflow-y", "scroll");
    $("input.keyword").keypress(keyword_keypress);
    $("input.keyword").keyup(keyword_keyup);
    $.registrar = $("select#id_registrar").val();
    $("select#id_registrar").change(update_registrar);
    $("table.weights input").change(update_scores);
    $("div#timer").everyTime(200, update_if_changed);
    keyword_keyup();
  });
</script>

<meta name="google-site-verification" content="wl5XW4kG6Lnb-gAflYHZGiNfrZtUqJTDul7zHLcV67g" />
{% endblock %}


{% block left %}
<div id="left" class="span-6 append-1">
<form method="get" action="">
<img id="loading" src="/static/images/loading.gif" alt="" />
<div id="timer" class="span-6 quiet small"></div>
<h1>Find the best available short domain names</h1>
<div class="span-3">{{ search_form.left }}</div>
<div class="span-3 last right">{{ search_form.right }}</div>

<p>Registrar: {{ registrar_form.registrar }}</p>

<table class="weights wide">
<tr>
<th class="bottom">Characters</th>
<td class="vertical" style="background-position: 7px bottom" title="Negative"></td>
<td class="vertical" style="background-position: -13px bottom" title="Neutral"></td>
<td class="vertical" style="background-position: -33px bottom" title="Interesting"></td>
<td class="vertical" style="background-position: -53px bottom" title="Important"></td>
<td class="vertical" style="background-position: -73px bottom" title="Critical"></td>
</tr>
{% for field in weights_form %}
{% ifequal field.name "english" %}
<tr><th colspan="6">Readability</th></tr>
{% endifequal %}
{% ifequal field.name "prefix" %}
<tr><th colspan="6">Popularity</th></tr>
{% endifequal %}
<tr><td>{{ field.label|safe }}</td>
{% for value, text in field.field.choices %}<td><input name="{{ field.name }}" value="{{ value }}" type="radio" {% ifequal value field.field.initial %}checked="checked" {% endifequal %}/></td>
{% endfor %}</tr>
{% endfor %}
</table>
</form>

<hr />
{% load feedback_tags %}
{% feedback_form request %}
</div>
{% endblock%}

{% block right %}{% endblock %}
{% block content-class %} search last{% endblock %}

{% block content %}
<table class="ruler wide">
<tbody id="results">
<tr><td colspan="16">
Loading...
</td></tr>
</tbody>
</table>
{% endblock %}
