{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<h1>Search available domain names</h1>

{% if search_form.keyword.errors %}
<p class="error">{{ search_form.keyword.errors.0 }}</p>
{% endif %}

<form action="" method="get">
<table>
<tr>
<td>{{ search_form.keyword }}</td>
<td>{{ search_form.length }}</td>
<td>{{ search_form.letters }}</td>
<td>{{ search_form.digits }}</td>
<td>{{ search_form.dashes }}</td>
<td>{{ search_form.syllables }}</td>
<td><input type="submit" name="search" value="Search" /></td>
<td></td>
</tr>
<tr>
<th>Name
<label for="id_position_0">
<input value="left" type="radio" name="position" id="id_position_0"  {% ifnotequal request.GET.position "right" %}checked="checked" {% endifnotequal %} />
left</label>
<label for="id_position_1">
<input  type="radio" value="right" name="position" id="id_position_1" {% ifequal request.GET.position "right" %}checked="checked" {% endifequal %} />
right</label>
</th>
<th>Length</th>
<th>Letters</th>
<th>Digits</th>
<th>Dashes</th>
<th>Syllables</th>
<th>Score</th>
</tr>
{% for score, idea in score_idea_list %}<tr>
<td>{{ idea.key.name }}</td>
<td>{{ idea.length }}</td>
<td>{{ idea.letters }}</td>
<td>{{ idea.digits }}</td>
<td>{{ idea.dashes }}</td>
<td>{{ idea.syllables }}</td>
<td>{{ score }}</td>
</tr>
{% endfor %}</table>
</form>
{% endblock %}
