{% for domain in domain_list %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{ domain.key.name }}</td>
<td>{{ domain.length }}</td>
<td>{{ domain.digits }}</td>
<td>{{ domain.dashes }}</td>
<td>{{ domain.english }}</td>
<td>{{ domain.spanish }}</td>
<td>{{ domain.french }}</td>
<td>{{ domain.german }}</td>
<td class="{{ domain.com|yesno:"red,green,unknown" }}">{{ domain.com|yesno:"taken,free," }}</td>
<td class="{{ domain.net|yesno:"red,green,unknown" }}">{{ domain.net|yesno:"taken,free," }}</td>
<td class="{{ domain.org|yesno:"red,green,unknown" }}">{{ domain.org|yesno:"taken,free," }}</td>
<td class="{{ domain.biz|yesno:"red,green,unknown" }}">{{ domain.biz|yesno:"taken,free," }}</td>
<td class="{{ domain.info|yesno:"red,green,unknown" }}">{{ domain.info|yesno:"taken,free," }}</td>
<td>{{ domain.score }}</td>
</tr>
{% endfor %}
