{% for domain in domain_list %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{ domain.key.name }}</td>
<td><span class="{% if domain.com %}red">{{ domain.com }}{% else %}green">NXDOMAIN{% endif%}</span></td>
<td><span class="{% if domain.net %}red">{{ domain.net }}{% else %}green">NXDOMAIN{% endif%}</span></td>
<td><span class="{% if domain.org %}red">{{ domain.org }}{% else %}green">NXDOMAIN{% endif%}</span></td>
<td>{{ domain.length }}</td>
<td>{{ domain.digits }}</td>
<td>{{ domain.dashes }}</td>
<td>{% if domain.scowl %}{{ domain.rest }}={{ domain.scowl }}{% endif%}</td>
<td>{{ domain.score }}</td>
</tr>
{% endfor %}
