{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About NXdom</h1>

<p>
NXdom is an interactive search engine for available short domain
names. Its database contains millions of DNS results for expired and
unused domain names. You can search by prefix and suffix, and sort the
results by length, readability, and popularity.
</p>

<p>
NXdom was created by Johann C. Rocholl in about 2500 lines of
<a href="http://www.python.org/">Python</a> and powered by
<a href="http://www.djangoproject.com/">Django</a> 1.1 on
<a href="http://code.google.com/appengine/">Google App Engine</a>.
The full source code is available at
<a href="http://github.com/jcrocholl/nxdom">github.com/jcrochol/nxdom</a>
under the
<a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a>.
</p>
{% endblock %}
