{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About NXdom</h1>

<p>
NXdom is an interactive search engine for available short domain
names, created by Johann C. Rocholl.
</p>

<p>
It's written in about 2500 lines of
<a href="http://www.python.org/">Python</a> and powered by
<a href="http://www.djangoproject.com/">Django</a> 1.1 on
<a href="http://code.google.com/appengine/">Google App Engine</a>.
</p>

<p>
The full source code is available at
<a href="http://github.com/jcrocholl/nxdom">github.com/jcrochol/nxdom</a>
under the
<a href="http://www.opensource.org/licenses/mit-license.php">MIT License</a>.
</p>
{% endblock %}
