<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
lang="{% firstof LANGUAGE_CODE 'en' %}">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %} - NXdom</title>
<link rel="icon" type="image/png" href="/static/images/favicon.png" />
{% block css %}
<link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
<!--[if IE]>
<link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}ie.css">
<![endif]-->
{% endblock %}

{% block js %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}combined-{{ LANGUAGE_CODE }}.js"></script>
{% endblock %}

{% block jquery %}
<script type="text/javascript">
$(document).ready(function() {{% if not refresh_seconds %}
    $.ga.load("UA-939486-4", function() { ga_track(); });{% endif %}
    $.json_version = {{ json_version }};
    $("input.focus:last").focus();
});
</script>
{% endblock %}

{% if refresh_seconds %}
<meta http-equiv="refresh" content="{{ refresh_seconds }}" />
{% endif %}

{% block extra-head %}{% endblock %}
</head>

<body>
  <div class="container">
    {% block left %}{% endblock%}
    <div id="content" class="span-18{% block content-class %}{% endblock %}">
      {% block content %}{% endblock %}
    </div>
    {% block right %}
    <div id="right" class="span-6 prepend-1 last">
      {% load feedback_tags %}
      {% feedback_form request %}
      {% feedback_recently request %}
    </div>
    {% endblock%}
    <div id="footer" class="span-25 last">
      <p>
        <a href="/">Home</a> |
        <a href="/about/">About</a> |
        <a href="/faq/">FAQ</a> |
        <a href="/terms/">Terms of use</a> |
        <a href="/privacy/">Privacy policy</a> |
        <a href="http://validator.w3.org/check?uri=referer">XHTML</a> |
        <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
        <a href="http://www.djangoproject.com/">Django</a> |
        <a href="http://code.google.com/appengine/">App Engine</a> |
        <a href="mailto:johann@rocholl.net">johann@rocholl.net</a><br />
        Follow me on <a href="http://twitter.com/nxdom" onmousedown="ga_track('/outgoing/twitter/')">Twitter</a>
      </p>
    </div>
  </div>
</body>
</html>
