{% extends "base.html" %}

{% block title %}Goal{% endblock %}

{% block content %}
<h1>Goal</h1>

<p>This page is used for Google Website Optimizer.</p>

<!-- Google Website Optimizer Conversion Script -->
<script type="text/javascript">
if(typeof(_gat)!='object')document.write('<sc'+'ript src="http'+
(document.location.protocol=='https:'?'s://ssl':'://www')+
'.google-analytics.com/ga.js"></sc'+'ript>')</script>
<script type="text/javascript">
try {
var gwoTracker=_gat._getTracker("UA-939486-5");
gwoTracker._trackPageview("/3251202061/goal");
}catch(err){}</script>
<!-- End of Google Website Optimizer Conversion Script -->
{% endblock %}
