{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<h1>Privacy Policy</h1>

<p>Scoretool protects your privacy. If you use this service, the
following information may be stored on our servers:</p>

<ol>
<li>Your domain name search keywords.</li>
<li>Your session cookie.</li>
<li>Your IP address, to prevent multiple votes for feedback.</li>
</ol>

<p>We will not use your search keywords or results to register domain
names. All of your information listed above is private and will not be
shown to other users of the Scoretool service. Only aggregated
anonymous information will be published, e.g. monthly top ten search
keywords from all users. However, your information is theoretically
available to Scoretool and Google engineers because it is stored in
the App Engine datastore and request logs.</p>

<p>This policy incorporates the Google App Engine privacy notice:<br />
<a href="http://code.google.com/appengine/privacy.html">http://code.google.com/appengine/privacy.html</a></p>
{% endblock %}
