{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<h1>Privacy Policy</h1>

<p>NXdom protects your privacy. If you use this service, the
following information may be collected:</p>

<ol>
<li>Your domain name search keywords (in the request logs).</li>
<li>Cookies for Google Analytics and Google Website Optimizer.</li>
<li>Performance data from your browser (interactive search load time).</li>
<li>Your IP address if you vote or submit feedback, to prevent
    multiple votes.</li>
</ol>

<p>NXdom does <b>not</b> collect the domain names that you click on,
only their length and top level domain, e.g. "5 letters .com".
However, our affiliate partners (Commission Junction and the domain
registrars) can see your selected domain name when you check
availability.</p>

<p>We will not use your search keywords or results to register domain
names. All of your information listed above is private and will not be
shown to other users of the NXdom service. Only aggregated anonymous
information will be published, e.g. monthly top ten search keywords
from all users. However, your information is theoretically available
to NXdom and Google engineers because it is stored in the App Engine
datastore and request logs.</p>

<p>This policy incorporates the Google App Engine privacy notice:<br />
<a href="http://code.google.com/appengine/privacy.html">http://code.google.com/appengine/privacy.html</a></p>
{% endblock %}
