{% extends "base.html" %}

{% block title %}Terms Of Use{% endblock %}

{% block content %}
<h1>Terms Of Use</h1>

<p>By using NXdom, you agree to the following terms:</p>

<ol>
<li>Some information may be stored on our servers, according to our
  <a href="/privacy/">privacy policy</a>.</li>
<li>This free service comes without a warranty.</li>
<li>If you use the affiliate links to check domain name availability
and then register your domain name there, NXdom may receive a
commission from the domain registrar.</li>
</ol>
{% endblock %}
