{% extends "base.html" %}

{% block title %}Names{% endblock %}

{% block content %}
<h1>Recently added names</h1>

{% if enter_names_form.names.errors %}
<p class="error">{{ enter_names_form.names.errors.0 }}</p>
{% endif %}

<form action="" method="post">
<p>
{{ enter_names_form.names }}
<input type="submit" name="submit_names" value="Submit name ideas" />
</p>
</form>

{% if upload_names_form.upload.errors %}
<p class="error">{{ upload_names_form.upload.errors.0 }}</p>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
<p>
{{ upload_names_form.upload }}
<input type="submit" name="upload_file" value="Upload text file" />
</p>
</form>

<p>Latest {{ idea_list|length }} names of {{ idea_count }} total:</p>
{% include "ideas/table.html" %}
{% endblock %}
