{% extends "base.html" %}

{% block title %}Domains{% endblock %}

{% block content %}
<h1>Available domain names</h1>

<form action="" method="post" enctype="multipart/form-data">
<p>
{{ names_form.names.errors }}
{{ names_form.names.label_tag }}:<br />
{{ names_form.names }}<br />
{{ names_form.upload.errors }}
{{ names_form.upload.label_tag }}:
{{ names_form.upload }}<br />
{{ names_form.com_expiration.errors }}
{{ names_form.net_expiration.errors }}
{{ names_form.org_expiration.errors }}
{{ names_form.com_expiration.label_tag }}:
{{ names_form.com_expiration }}
{{ names_form.net_expiration.label_tag }}:
{{ names_form.net_expiration }}
{{ names_form.org_expiration.label_tag }}:
{{ names_form.org_expiration }}
<input type="submit" name="submit_names" value="Submit domain names" />
</p>
</form>

{% for stat in domain_stats %}
<p>{{ stat.timestamp|timesince }} ago,
{{ stat.count }} domains were using {{ stat.bytes }} bytes.</p>
{% endfor %}

<p>The {{ domain_list|length }} most recently updated names, of
{{ domain_count }} total:</p>
<table>
<tr>
<th>Name</th>
<th>Backwards</th>
<th>Left 5</th>
<th>Right 5</th>
<th>Length</th>
<th>Digits</th>
<th>Dashes</th>
<th>Timestamp</th>
<th>com</th>
<th>net</th>
<th>org</th>
</tr>
{% for domain in domain_list %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{ domain.key.name }}</td>
<td>{{ domain.backwards }}</td>
<td>{{ domain.left5 }}</td>
<td>{{ domain.right5 }}</td>
<td>{{ domain.length }}</td>
<td>{{ domain.digits }}</td>
<td>{{ domain.dashes }}</td>
<td>{{ domain.timestamp|timesince }} ago</td>
<td>{% if domain.com_expiration %}{{ domain.com_expiration }}{% endif %}</td>
<td>{% if domain.net_expiration %}{{ domain.net_expiration }}{% endif %}</td>
<td>{% if domain.org_expiration %}{{ domain.org_expiration }}{% endif %}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
