{% extends "base.html" %}

{% block title %}Domains{% endblock %}

{% block content %}
<h1>Available domain names</h1>

<form action="" method="post">
<p>
{{ enter_names_form.names.errors }}
{{ enter_names_form.names }}<br />
{{ enter_names_form.com_expiration.errors }}
{{ enter_names_form.net_expiration.errors }}
{{ enter_names_form.org_expiration.errors }}
{{ enter_names_form.com_expiration.label_tag }}:
{{ enter_names_form.com_expiration }}
{{ enter_names_form.net_expiration.label_tag }}:
{{ enter_names_form.net_expiration }}
{{ enter_names_form.org_expiration.label_tag }}:
{{ enter_names_form.org_expiration }}<br />
<input type="submit" name="submit_names" value="Submit domain names" />
</p>
</form>

<form action="" method="post" enctype="multipart/form-data">
<p>
{{ upload_names_form.upload.errors }}
{{ upload_names_form.upload }}
<input type="submit" name="upload_file" value="Upload text file" />
</p>
</form>

<p>Latest {{ domain_list|length }} names of {{ domain_count }} total:</p>
<table>
<tr>
<th>Name</th>
<th>Backwards</th>
<th>com</th>
<th>net</th>
<th>org</th>
<th>Updated</th>
</tr>
{% for domain in domain_list %}
<tr class="{% cycle 'row1' 'row2' %}">
<td>{{ domain.name }}</td>
<td>{{ domain.backwards }}</td>
<td>{% if domain.com_expiration %}{{ domain.com_expiration }}{% endif %}</td>
<td>{% if domain.net_expiration %}{{ domain.net_expiration }}{% endif %}</td>
<td>{% if domain.org_expiration %}{{ domain.org_expiration }}{% endif %}</td>
<td>{{ domain.created }} ago</td>
<td>{{ domain.updated }} ago</td>
</tr>
{% endfor %}
</table>
{% endblock %}
